@page {
	size: A4;
	margin: 0;
}
@media screen, print{
	body{
		font-family: 'Century Gothic';

	}
	#spp{
		height: 100%;
		width: 100%;
		border : 1px solid;
		page-break-after: always;
	}
	#table{
		height: 100%;
		width: 100%;
		border: 1px solid;
		page-break-after: always;
	}
	#halaman_belakang{
		height: 100%;
		width: 100%;
		border: 1px solid;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
    	column-count: 2;
    	margin-top: 30px;
	}
	.pad{
		padding: 0px 10px 0px 10px;
	}

	.pad_kpr{
		padding: 0px 25px 0px 25px;
	}

	#logo_seafront_gambar{
		width: 150px;
		height: 40px;
	}
	.color{
		background-color: #dddddd;
	}

	#logo_ancol_gambar{
		width: 160px;
		height: 40px;
	}
	#kata_spp{
		font-size: 18px;
	}
	#kata_no{
		font-size: 9px;
	}
	.kata_persetujuan{
		font-size: 9px;
	}
	.blok_persetujuan{
		padding: 10px;
	}
	.perjanjian{
		padding-left: 20px;
		padding-right: 20px;
	}
	.garis_isian{
		height: 1px; 
		border-bottom: 1px solid;
	}
	.garis_pembatas{
		height: 2px; 
		border-bottom: 1px solid;
	}
	.header_pembeli{
		padding: 5px 0px 5px 0px;
	}
	.kata_profil{
		font-family: "arial";
		font-size: 8px;
	}
	.border_table{
		border:1px solid;
	}

	.ttd{
		text-align: center;
	}
	.kata_footer{
		font-family: "arial";
		font-size: 10px;
		text-align: center;
	}
	.table{
		 
	}

	.blok{
		width: 100%;
		height: 20px;
		padding: 10px;
	}
	.catatan {
		page-break-after: always;
	}
	#foot{
		width: 100%;
		text-align: center;
	}
	.table_cicilan{
		
	}
	.page_break{
		page-break-after: always;
	}
	#kiri{
		width: 50%;
		height: auto;
		float: left;
		padding-right: 25px;
	}
	#kanan{
		width: auto;
		height: auto;
		padding-right: 25px;
	}
}